<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
</head>
<body class="center">
<div class="card login-card">
    
    <h2><i class="fa-solid fa-lock"></i> Secure File Access</h2>
    
    <p class="sub-text">Please enter password to continue</p>
    <form method="post">
        <input type="password" name="password" placeholder="Enter Password" required>
        
        <button><i class="fa-solid fa-right-to-bracket"></i> Login</button>
    </form>
</div>
</body>
</html>